*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.logo1{
    display: flex;
    
}
.navbar{
    width: 100%;
    height: 70px;
    margin: auto;
    background-color: black;
}
.menu{
    width: 400px;;
    float: left;
    height: 70px;
}

ul
{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

ul li{
    list-style: none;
    margin-left: 70px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: white;
}
.img5{
    background-image: url("https://nurimetin.github.io/eliteshoppy.github.io/images/banner1.jpg");
    padding: 200px;
    text-align: center;
    color: white;
    font-size: 20px;
}
.g{
    display: flex;
}




.green
{
   background-color: rgb(39, 228, 165)  ;
   
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 40px;
    width: 100%;
    
}

.g .green .container{
    background-color: azure;
    margin-top: 60px;
    
   
}















.co{
    display: flex;
}

.box{
    height: 300px;
    width: 600px;
    background-image: url("shop3.png");
    background-size: 100% 100%;
    margin: 100px auto;
    padding: 20px;
    transition: 1s;
    margin-right: 40px;
}
.border{
    border: 5px solid white;
    opacity: 0;
    transition: 1s;
    height: 230px;
    width: 530px;
}

.box:hover .border{
          opacity: 1;
          transform: translateX(20px);
}


.box1{
    height: 300px;
    width: 600px;
    background-image: url("shop2.png");
    background-size: 100% 100%;
    margin: 100px auto;
    padding: 20px;
    transition: 1s;
}
.border1{
    border: 5px solid white;
    opacity: 0;
    transition: 1s;
    height: 230px;
    width: 530px;
}
.box1:hover .border1{
          opacity: 1;
          transform: translateX(20px);
}
.box:hover{
    background-position: 20px;
}
.box1:hover{
    background-position: 20px;
}






.pic1
{
    display: flex;
    
}
.box2
{
   
    height: 600px;
    width: 400px;
    background-image: url("https://nurimetin.github.io/eliteshoppy.github.io/images/bb1.jpg");
    background-size: 100% 100%;
    margin: 100px;
    padding: 20px;
    transition: 1s;
    margin-left: 270px;
}
.border2
{
    border: 5px solid white;
    height: 550px;
    width:  330px;
    transition: 1s;
    opacity: 0;
}
.box2:hover .border2{
    opacity: 1;
    transform: translate(20px);
}

.box2:hover{
    background-position: 20px;
}






.box3
{
    display: flex;
    height: 250px;
    width: 550px;

    background-image:url("https://p.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/1660570665/web/images/bottom3.jpg") ;
    background-size: 100% 100%;
    margin: 100px auto;
    padding: 20px;
    transition: 1s;
}
.border3
{
    border: 5px solid white;
    height: 200px;
    width:  480px;
    transition: 1s;
    opacity: 0;
}
.box3:hover .border3{
    opacity: 1;
    transform: translate(20px);
}

.box3:hover{
    background-position: 20px;
}





.box4
{
    display: flex;
    height: 250px;
    width: 550px;

    background-image:url("https://p.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/1660570665/web/images/bottom4.jpg") ;
    background-size: 100% 100%;
    margin: 100px auto;
    padding: 20px;
    transition: 1s;
}
.border4
{
    border: 5px solid white;
    height: 200px;
    width:  480px;
    transition: 1s;
    opacity: 0;
}
.box4:hover .border4{
    opacity: 1;
    transform: translate(20px);
}

.box4:hover{
    background-position: 20px;
}









.main1
{
    display: flex;
    width: 100%;
}

.left2{
    /* transition: all 1s ease; */
    position: relative;
    overflow: hidden;
    height: 400px;
    width: 49%;
    background-image: url("https://p.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/1660570665/web/images/bot_1.jpg");
}
.n1{
    position: absolute;
    top: -100%;
    left: 100%;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.171);
}
.n2{
      position: absolute;
    top: 100%;
    right: 100%;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.171);
}
.left2:hover>.n2{
     top: 0;
    right: 0;
    transition: all 0.5s ease;

}
.left2:hover >.n1{
    top: 0;
    left: 0;
    transition: all 0.5s ease;

}

.left2:hover .shadow{
    opacity: 1;
    transform: translate(20px);
}
.photo{
    overflow: hidden;
    position: relative;
    height: 400px;
    width: 49%;
    background-image: url("https://p.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/1660570665/web/images/bot_2.jpg");
}
.p1{
    position: absolute;
    background-color:  rgba(0, 0, 0, 0.171);
    top: -100%;
    left: 100%;
    height: 100%;
    width: 100%;
}
.photo:hover>.p1{
    top: 0;
    left: 0;
    transition: all 0.5s ease;
}
.p2{
    background-color: rgba(0, 0, 0, 0.171);
    height: 100%;
    top: 100%;
    width: 100%;
    right: 100%;
    position: absolute;
}
.photo:hover>.p2{
    top: 0;
    right: 0;
    transition: all 0.5s ease;
}












.main21
{
    display: flex;
    gap: 150px;
    margin-left: 150px;
}



        .rows
        {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 40px;
            
        
        }
        .col
        {
            box-shadow: 3px 3px 10px lightblue;
            padding: 20px;
            text-align: center;
            width: 300px;
            line-height: 20px;
            font-size: 18px;
            
        }


.bg

{
    background-attachment: fixed;
    background-image: url("https://nurimetin.github.io/eliteshoppy.github.io/images/banner3.jpg");
    height: 450px;
    width: 1550px;
}








.w{
    margin-left: 40px;
    margin-top: 50px;
    display: flex;
    margin-bottom: 50px;
 }



footer
{
    background-color: black;
    color: white;
    padding:60px;
   
    
}

.footer
{
     display: flex;
    gap: 100px;
}
.footer1
{
    line-height: 1.8;
    margin-left: 20px;
}



.icon
{
    font-size: 25px;
}

.footer2
{
    list-style: none;
   
}
.footer2 a{
    text-decoration: none;
    color:rgb(111, 110, 110);
  
  
}
.footer2 li{
    margin-top: 18px;
}


.i2{
    margin-top: 30px;
    display: flex;
    margin-left: 20px;
}

.footer4
{
    display: flex;
    margin-top: 80px;
}