* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
}

.navbar {
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo {
    color: white;
    font-size: 30px;
    padding: 100px;
    width: 90px;
    margin-left: 70px;
}

.menu ul {
    display: flex;
    align-items: center;

}

.menu ul li {
    list-style: none;
    padding: 30px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.menu ul li a:hover {
    color: #ccc;
}



.box {
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 50px 60px;
}

.text {
    width: 45%;
    margin-top: 60px;
}

h1 {
    font-size: 50px;
    margin-bottom: 40px;
}

h2 button {
    height: 45px;
    border-radius: 25px;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
}

h2 button:hover {
    background-color: rgb(50, 50, 50);
}

.srch {
    margin-top: 12px;
    width: 60%;
    padding: 12px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid gray;
}

p button {
    margin-top: 15px;
    font-size: 22px;
    padding: 15px 25px;
    border-radius: 10px;
    cursor: pointer;
}

.image img {
    width: 580px;
    border-radius: 15px;
}

.sug {
    margin-right: 10px;
    padding: 50px;
    width: 20px;
    font-size: 50px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 2000px;
}


.card {

    background: rgb(145, 142, 142);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.details h1 {
    margin-top: 100px;
    width: 50%;
    padding: 10px;
    margin-left: 70px;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;    

}

.details h3 {
    margin-left: 70px;
    font-size: 15px;    
}

.details img{
    
    margin-left: 60%;
}