*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.navbar{
    width: 100%;
    height: 70px;
    margin: auto;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 1;
}
.logo{
    color: rgb(255, 253, 253);
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-left: 100px;
}

.menu
{
    width: 400px;;
    float: left;
    height: 70px;
    
}

.ul
{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: aliceblue;
    font-family: Arial;
}
ul li a:hover{
    color: rgb(186, 33, 102);
}

.box{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.text{
    margin-top: 120px;
    margin-left: 150px;
}
h1{
    font-size: 70px;
    margin-bottom: 10px;
    color: black;
    margin-left: 20px;
}
.div1{
    width: 100%;
    padding: 50px;
    border: 4px solid white;
    border-radius: 0.2px;
    margin-top: 10px;

}
.right{
    width: 50%;
    background: white;
    border-radius: 10px;
    padding: 50px;
    
}

.right img{
    width: 140%;
    border-radius: 60px;
    overflow: hidden;
    position: relative;
    padding: 50px;
}
a:hover{
     color: black;
}


.p{
    position: absolute;
    bottom: 50px;
    left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-left: 900px;
    margin-bottom: 100px;
}

.left1{
    width: 45%;
}

.left1 h1{
    font-size: 30px;
    margin-bottom: 15px;
}

.left1 p{
    color: #555;
    margin: 10px 0 30px;
}
h2{
    font-size: 50px;
    margin-left: 130px;
    padding: 10px;

}
.container1{
    display: flex ;
    flex-wrap: wrap;
    width: 100%;
     margin-top: 15px;
     gap: 20px;
     justify-content: center;
    
}
.container1 .card{
    border-radius: 15px;
    height: 200px;
    width: 400px;
    border: 1px solid black;
    display: flex;
    padding: 20px;
    align-items: center;
     background-color: #F3F3F3;
}    

.card h4{
    font-size: 25px;
    margin-bottom: 10px;
}
.card h6{
    font-size: 14px;
    margin-right: 5px;
}
.container1 button{
   margin-top: 20px;
   border-radius: 30px;
   padding: 10px;
}

    .symbol {
        image-resolution: inherit;
        margin-bottom: 20px;
    }
    .login1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

.left1{
    width: 45%;
}

.left1 h1{
    font-size: 30px;
    margin-bottom: 15px;
}

.left1 p{
    color: #555;
    margin: 10px 0 30px;
}

.login-btn{
    padding: 12px 30px;
    background: black;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

.create{
    margin-left:20px;
    color: #000;
    text-decoration: underline;
    font-size: 16px;
}

.right1 img{
    width: 500px;
    border-radius: 10px;
    margin-top: 100px;
}
.reserve{
  display:flex;
  width:90%;
  padding:50px;
  margin:auto;
  justify-content:space-between;
  background:#fff;
  border-radius:15px;
}

.left2{
  width:33%;
  background-color:rgb(121, 203, 203);
  padding: 20px;
}




.small{
  margin-top:20px;
  color:#444;
  font-size:15px;
  
  
}

.inputs{
  display:flex;
  gap:10px;
  margin-top:10px;
  
}

input{
  padding:12px;
  border-radius:6px;
  border:1px solid #ccc;
}

.btn1{
  margin-top:20px;
  padding:13px;
  width:120px;
  border:none;
  background:black;
  color:white;
  border-radius:6px;
  cursor:pointer;
}

.center img{
  width:230px;
  background-color: rgb(121, 203, 203);
}

.right2{
  width:73%;
  margin-left:45px ;
}

.right2 ul{
  margin-top:10px;
  margin-left: 50%;
}

.right2 li{
  margin-bottom:12px;
  color:#333;
  line-height:1.4;
}

.h{
  color:#000;
  text-decoration:underline;
  margin-top:10px;
  display:inline-block;
}






.login2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

.right3{
    width: 45%;
    margin-left: 100px;
 
}

.right3 h1{
    font-size: 50px;
    margin-bottom: 15px;
}

.right3 p{
    color: #555;
    margin: 10px 0 30px;
}

.login-btn1{
    padding: 12px 30px;
    background: black;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

.create1{
    margin-left:20px;
    color: #000;
    text-decoration: underline;
    font-size: 16px;
}

.left3 img{
    width: 500px;
    height: 500px;
    border-radius: 10px;
    margin-top: 120px;
    margin-bottom: 80px;
    margin-left: 130px;
}




.login3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

.left4{
    width: 45%;
    margin-left: 100px;
 
}

.left4 h1{
    font-size: 50px;
    margin-bottom: 15px;
}

.left4 p{
    color: #555;
    margin: 10px 0 30px;
}

.login-btn2{
    padding: 12px 30px;
    background: black;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

.create2{
    margin-left:20px;
    color: #000;
    text-decoration: underline;
    font-size: 16px;
}

.right4 img{
    width: 600px;
    height: 600px;
    border-radius: 10px;
  
    margin-bottom: 100px;
    margin-right: 20px;
}








.login14{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

.right5{
    width: 45%;
    margin-left: 100px;
}

.right5 h1{
    font-size: 50px;
    margin-bottom: 15px;
}

.right5 p{
    color: #555;
    margin: 10px 0 30px;
}


.login-btn3{
    padding: 12px 30px;
    background: black;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

.create3{
    margin-left:20px;
    color: #000;
    text-decoration: underline;
    font-size: 16px;
}

.left5 img{
    width: 600px;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 600px;
    margin-left: 100px;
}













   .container1{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.box1{
    background: white;
    padding: 20px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: left;
}

.box1 img{
    width: 110px;
    height: 110px;
    display: block;
    margin-bottom: 15px;
} 
span{
    margin-left: 10px;
}




footer{
    background-color: black;
    margin-bottom: 100px;
    color: white;
    padding: 100px;
    margin: auto;
}
.footer{
    display: flex;
    color: white;
    margin-left: 90px;
    gap: 90px;
    
}
.icon3{
    display: flex;
    margin-left: 150px;
gap: 30px;

}